<nav class="main-nav navbar navbar-expand-lg">
    <div class="container">
        <!-- Mobile Navigation -->
        <div class="d-flex d-lg-none align-items-center w-100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="nav-link px-2">
                <img src="/assets/Search.png" alt="Search" width="24" height="24">
            </a>
            <a class="navbar-brand mx-auto" href="index.html">
                <img src="/assets/Vespi.png" alt="Vespi Logo" width="60">
            </a>
            <a href="#" class="nav-link px-2">
                <img src="/assets/Cart White.png" alt="Cart" width="24" height="24">
            </a>
        </div>

        <!-- Desktop Logo (visible only on desktop) -->
        <a class="navbar-brand d-none d-lg-block" href="index.html">
            <img src="/assets/Vespi.png" alt="Vespi Logo" width="60">
        </a>

        <!-- Navigation Menu -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="main-nav__link" href="HomePage.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="main-nav__link" href="index.html">Mens</a>
                </li>
                <li class="nav-item">
                    <a class="main-nav__link" href="index.html">Womens</a>
                </li>
                <li class="nav-item">
                    <a class="main-nav__link" href="Journalarticle.html">Journal</a>
                </li>
            </ul>

            <!-- Desktop Icons (visible only on desktop) -->
            <div class="main-nav__icons d-none d-lg-flex">
                <a href="#" class="nav-link">
                    <img src="/assets/Search.png" alt="Search" width="24" height="24">
                </a>
                <div class="vr mx-2"></div>
                <a href="#" class="nav-link">
                    <img src="/assets/Cart White.png" alt="Cart" width="24" height="24">
                </a>
            </div>
        </div>
    </div>
</nav>
